# Data Science Tools and Ecosystem

This notebook provides an overview of the various tools and technologies used in the data science ecosystem.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to multiply then add integers
result = (3*4) + 5
print(result)

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

This notebook provides an overview of the various tools and technologies used in the data science ecosystem.

**Objectifs:**
* List popular languages for Data Science
* Introduce data science libraries
* Demonstrate basic Python arithmetic operations
* Explain the conversion of units (e.g., minutes to hours)

## Author
BENMOUSSA HICHAM